* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

small {
  color: white;
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
}

small a {
  text-decoration: none;
  color: #95e8d7;
}

.container {
  width: 580px;
  margin: 30px auto;
  text-align: center;
}

.last-updated {
  font-family: "Roboto Mono", monospace;
  position: relative;
  left: -175px;
  color: rgba(255, 255, 255, 0.466);
  font-size: 12px;
}

.city {
  color: white;
  margin-top: 30px;
  text-align: left;
  padding-left: 50px;
}

.forecast:hover {
  opacity: 0.7;
}

.forecast-min-temp {
  opacity: 0.6;
}

.inside {
  font-family: "Roboto Mono", monospace;
  color: rgba(229, 229, 229, 0.602);
}

.more-details-boxes {
  width: 120px;
  color: white;
  background-color: none;
}

.more-details-boxes:hover {
  opacity: 0.7;
}

.temp-content {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: white;
  text-align: right;
  padding-right: 50px;
}

.icon-image {
  display: block;
  text-align: right;
  padding-right: 40px;
}

.temp-unit {
  color: rgba(229, 229, 229, 0.737);
  font-size: 18px;
  position: relative;
  top: -27px;
}

.weather-content {
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  background-image: linear-gradient(rgba(0, 8, 51, 0.2), rgba(0, 8, 51, 0.227));
  border-radius: 25px;
}

.weather-forecast {
  font-weight: 400;
  margin-top: 10px;
  color: white;
  background-image: linear-gradient(rgba(0, 8, 51, 0.2), rgba(0, 8, 51, 0.227));
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 25px;
}

.weather-forecast-day {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temp {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
}

#city-search-bar {
  width: 340px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 60px;
  backdrop-filter: blur(4px) saturate(180%);
}

#city-search-bar button {
  width: 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: rgba(229, 229, 229, 0.737);
}

#city-search-bar input {
  background: transparent;
  border: none;
  outline: none;
  padding: 8px 30px 8px 5px;
  font-size: 16px;
  color: white;
}

::placeholder {
  color: rgba(241, 243, 244, 0.76);
}

#current-description {
  color: rgba(229, 229, 229, 0.737);
  position: relative;
  text-align: left;
  top: -15px;
  text-transform: capitalize;
  padding-left: 50px;
}

#current-temp {
  font-size: 60px;
}
